/src/DVN-ingest/build/
/src/DVN-ingest/dist/
/src/DVN-ingest/nbproject/
/DVN-root/DVN-web/build/
/DVN-root/DVN-web/dist/
/DVN-root/DVN-web/nbproject/
/DVN-root/DVN-web/src/log4j.properties
/DVN-root/DVN-web/target
/DVN-root/DVN-web/DVN-web.iml
/DVN-root/DVN-web/nb-configuration.xml
/doc/sphinx/build
.project
.settings/
.idea/
